.c-list {
	&--no-bullets {
		padding-left: 0;
		
		li {
			display: block;
		}
	}
	
	&--inline {
		padding-left: 0;
		
		li {
			display: inline-block;
			margin-right: 1rem;
			vertical-align: top;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	&--cards {
		display: grid;
		padding-left: 0;
		list-style: none;
	}
}

.c-highlight-box {
    background: $smoke;
    color: $pink;
    margin-bottom: 1rem;
    padding: 1rem;
        
    @media (min-width: $screen-tablet) {
        padding: 2rem;
        transform: translate3d(-2rem, 0, 0);
        width: calc(100% + 4rem);
    }
}
