.l-section {
	@include container();
	overflow: hidden;
	padding-bottom: 4rem;
	padding-top: 4rem;
	position: relative;
	
	&--lg {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}
	
	&--show-overflow {
		overflow: visible;
	}
}

.l-container {
    @include container();
    
    &--sm {
        @include container($screen-tablet);
        
        @media (min-width: $screen-xxl) {
            max-width: calc(960px + 8rem);
        }
    }
}
