.c-triangle-container {
	&--top {
		padding-bottom: 8rem;
		padding-top: 16rem;
		
		.c-triangle {
			left: 0;
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			width: 100%;	
					
			&::before {
				margin: 0 auto;
				transform: rotate(-45deg);			
			}			
		}
	}
}

.c-triangle {
	height: 6rem;
	
	&::before {			
		border: 3rem solid $slate;
		box-shadow: 0px 0px 0px 6rem $lime;
		content: '';
		display: block;
		height: 6rem;
		outline: 3rem solid $teal;
		width: 6rem;
	}	
	
}
