*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: var(--background-color);
	color: var(--text-color);
}

:focus:not(.no-focus-outline) {
	outline: 2px solid var(--primary-color);
}


iframe {
	max-width: 100%;
}

button,
.button {
	display: inline-block;	
}

button,
.button,
.menu-button > a {
	background: none;
	border: 2px solid var(--primary-color);
	box-shadow: none;
	color: var(--text-color);
	padding: .5rem 1rem;
	
	&:hover,
	&:focus {
		color: var(--primary-color);
		outline: none;
	}
	
	&[aria-expanded="true"],
	&[aria-pressed="true"] {
		border-color: var(--secondary-color);
		color: var(--secondary-color);
	}		
}

// Thanks Scott O'Hara!
// Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}