.c-theme-controls {
	font-size: .75em;
	
	&_control {
		background: none;
		color: var(--text-color);
		box-shadow: none;
		border: none;
		text-transform: capitalize;
		transition: color 200ms ease-in-out;
		
		&:hover {
			color: var(--primary-color);
		}
	}
}