.c-theme-controls {
	font-size: .75em;
	
	&_control {
		background: none;
		color: var(--text-color);
		box-shadow: none;
		border: none;
		font-family: $roboto-mono;		
		text-transform: capitalize;
	}
}